<?xml version="1.0" encoding="UTF-8" standalone="no"?><SettingsPanel><fps>60</fps><overlap>14</overlap><bandsNum>300</bandsNum><stereoMode>3</stereoMode><windowFunc>1</windowFunc><sensivityMin>0</sensivityMin><sensivityMax>100</sensivityMax><sensivity>8</sensivity><hostName>WASAPI</hostName><deviceName>Głośniki (E-MU 0202 | USB) (Loopback)</deviceName></SettingsPanel>