<?xml version="1.0" encoding="UTF-8" standalone="no"?><SettingsPanel><fps>60</fps><overlap>10</overlap><stereoMode>0</stereoMode><windowFunc>1</windowFunc><sensivityMin>0</sensivityMin><sensivityMax>100</sensivityMax><sensivity>24</sensivity><hostName>WASAPI</hostName><deviceName>Głośniki (E-MU 0202 | USB) (Loopback)</deviceName><VisSettings><fill>true</fill><smoothing>true</smoothing><windowSize>19</windowSize><polynominal>1</polynominal></VisSettings></SettingsPanel>